//- Mixins: HTML template functions

mixin navigation(ident)
	.navigation(id=ident class="hide_nav")
		.nav_container
			h1.logo Hemmalaget
			nav
				ul
					li
						a(href="#body") Start
					li
						a(href="#offer") Erbjudande
					li
						a(href="#join") Assistent
					li
						a(href="#we_at") Anställda
					li
						a(href="#contact") Kontakt

mixin articles(dataset)
	each _, i in dataset
		if i % 2 == 0
			.row
				each data, j in dataset.slice(i, i+2)
					article(id=data.id)
						h3= data.title
						p!= data.text

mixin region(id, name, desc)
	div(id=id)
		h2= name
		p= desc

mixin testimonial(url, quote, name)
	.image
		img(src=url, alt="\"" + quote + "\" - " + name)
	.quote
		figure
			blockquote= quote
			figcaption= name

mixin contactCard(data)
	article.contact_card
		- firstName = data.name.toLowerCase().substr(0, data.name.indexOf(' '))
		img(src=firstName + ".png", alt=data.name + ", " + data.title)
		h3= data.name
		h4= data.title
		.contact_info
			a(href='mailto:' + data.email)
				p.email= data.email
			ul.phones
				each number in data.phones
					- normalized = number.replace( /-| |^\+46|^0/gi, '')
					li
						a(href='tel:+46' + normalized)= number
			if data.comment
				p.comment= data.comment
		p.description= data.description
